<article class="post">
    <div class="title">
        <h3>{{title}}</h3><p class="text-right">Posted by {{user.username}} on {{format_date created_at}}</p>
        <h4>"{{blog_body}}"</h4>
    </div>
    <div class="meta">
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}} 
        </a>
    </div>
</article>